<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right" style="margin-top:10px;">
        <div class="col-md-10 col-md-offset-1 pull-right">
          <img class="img-error" src="https://bootdey.com/img/Content/fdfadfadsfadoh.png">
          <h2>Not Found</h2>
          <p>Lo sentimos, Por favor verifica que ya has ingresado,
            o que cuentes con los permisos adecuados para acceder al sitio</p>
          <div class="error-actions">
            <a href="/" class="btn btn-primary btn-lg">
              <fa-icon [icon]="gotoHome"></fa-icon>
              Back Home
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
