<app-navbar></app-navbar>

<div class="container text-center">
  <div *ngIf="doSpace; else error" class="d-flex justify-content-center">
    <div class="card shadow-lg border-info">
      <div class="card-header">
        <h2>Ingresar Al Parqueadero Un Vehiculo</h2>
      </div>
      <div class="card-body">

        <div class="m-sm-4">
          <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
            <div class="form-group input-group mb-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label><fa-icon [icon]="addresCard"></fa-icon> Placa del Vehiculo</mat-label>
                <input class="" type="text" name="dniCar" id="dniCar"
                       matInput placeholder="Ingrese La Placa del Vehiculo" [(ngModel)]="dniCar" required="required">
              </mat-form-field>

            </div>
            <div class="form-group input-group mb-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label><fa-icon [icon]="addresCard"></fa-icon>Celda A Escoger</mat-label>
                <mat-select name="cellSelect" id="cellSelect" [(ngModel)]="cellSelect" required>
                  <mat-option (click)="cargarCelda()" *ngFor="let cell of cell" [value]="cell.id">{{cell.id}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="text-center mt-3">
              <button class="btn btn-outline-primary btn-block btn-lg" [disabled]="!f.valid">
                <fa-icon [icon]="register"></fa-icon> Ingresar al Parqueadero</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <ng-template #error>
    <h2>No hay espacios En el Paqueadero</h2>
    <p>Por favor vuelva Despues para Ingresar El vehiculo</p>
  </ng-template>
</div>
