<app-navbar></app-navbar>

<div class="container text-center">
  <div class="d-flex justify-content-center">
    <div class="card shadow-lg border-info">
      <div class="card-header">
        <h2>Registrar Un Vehiculo</h2>
      </div>
      <div class="card-body">

        <div class="m-sm-4">
          <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
            <div class="form-group input-group mb-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label><fa-icon [icon]="addresCard"></fa-icon> Placa del Vehiculo</mat-label>
                <input class="" type="text" name="dniCar" id="dniCar"
                       matInput placeholder="Ingrese La Placa del Vehiculo" [(ngModel)]="dniCar" required="required">
              </mat-form-field>
            </div>
            <div class="form-group input-group mb-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label><fa-icon [icon]="addresCard"></fa-icon> Dni del Propietario</mat-label>
                <input class="" type="text" name="dniOwner" id="dniOwner"
                       matInput placeholder="Ingrese el Dni del Propietario" [(ngModel)]="dniOwner" required="required">
              </mat-form-field>
            </div>
            <div class="form-group input-group mb-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label><fa-icon [icon]="addresCard"></fa-icon> Tipo De Contrato</mat-label>
                <mat-select name="contractSelect" id="contractSelect" [(ngModel)]="contractSelect" required>
                  <mat-option *ngIf="cell != null" [value]="contract[0].id">{{contract[0].name}}</mat-option>
                  <mat-option [value]="contract[1].id">Sin Contrato</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="contractSelect == 1" class="form-group input-group mb-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label><fa-icon [icon]="addresCard"></fa-icon> Celda A Escoger</mat-label>
                <mat-select name="cellSelect" id="cellSelect" [(ngModel)]="cellSelect" required>
                  <mat-option *ngFor="let cell of cell" [value]="cell.id">{{cell.id}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="text-center mt-3">
              <button class="btn btn-outline-primary btn-block btn-lg" [disabled]="!f.valid">
                <fa-icon [icon]="register"></fa-icon> Guardar Vehiculo</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
