<nav class="navbar navbar-dark mb-4" style="background-color: #404040;">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="https://img.icons8.com/nolan/64/car.png" alt="40px" width="40px"/>
      Parqueadero
    </a>
    <div class="d-flex my-2 my-lg-0">
      <button *ngIf="!isLogged" class="btn btn-outline-primary my-2 my-sm-o" routerLink="/login">
        <fa-icon [icon]="login"></fa-icon> Iniciar Sección
      </button>
      <button *ngIf="isLogged" class="btn btn-outline-danger my-2 my-sm-o" (click)="onLogout()">
        <fa-icon [icon]="logout"></fa-icon> Cerrar Sección
      </button>
    </div>
  </div>
</nav>
